@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Data.DataSet dsResult = (System.Data.DataSet)ViewBag.ShoeTypes;
    List<SoftBottin.Models.Shoes.cShoesByType> poShoesByType = (List<SoftBottin.Models.Shoes.cShoesByType>)ViewBag.ShoesByType;
}

<style>
    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        text-align: center;
    }

    #loading-image {
        position: absolute;
        /*top: 50%;*/
        /*left: 40%;*/
        z-index: 100;
        /*text-align: center;*/
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
</style>

<div id="loading" ng-hide="!layout.loading">
    <img id="loading-image" src="@Url.Content("~/Content/Images/ring.gif")" width="100" />
</div>


<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBiRCM_Mengpbc_KBtNp4BspRpQLD2N554"></script>

<script>


    $(document).ready(function () {
        var var_map;

        function init_map() {
            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            var labelIndex = 0;

            //Cl. 9 #21-3, Bogotá, Colombia
            var var_location = new google.maps.LatLng(4.604770, -74.089588);
            //carrrera22 #8-92
            var var_location2 = new google.maps.LatLng(4.605194, -74.090190);
            //calle 9 #22-30
            var var_location3 = new google.maps.LatLng(4.605365, -74.090334);

            var var_mapoptions = {
                center: var_location,
                zoom: 17
            };



            var_map = new google.maps.Map(document.getElementById("map-container"), var_mapoptions);

            var var_marker = new google.maps.Marker({
                position: var_location,
                map: var_map,
                label: labels[labelIndex++ % labels.length],
                title: "Venice"
            });

            var var_marker2 = new google.maps.Marker({
                position: var_location2,
                map: var_map,
                label: labels[labelIndex++ % labels.length],
                title: "Venice"
            });

            var var_marker3 = new google.maps.Marker({
                position: var_location3,
                map: var_map,
                label: labels[labelIndex++ % labels.length],
                title: "Venice"
            });
            var_marker.setMap(var_map);


            google.maps.event.trigger(var_map, 'resize');
        }

        google.maps.event.addDomListener(window, 'load', init_map);

    });

</script>




<div ng-controller="carritoController" ng-show="!layout.loading">
    <resolve-loader></resolve-loader>
    <div ng-view>
        @Html.Partial("SubPrincipal")
    </div>
</div>


<section class="app-seccion2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12xol "></div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="app-titulo"><span class="app-resaltar">Acerca de Nostros</span> </h1>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="media app-media">
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-time app-glyphicon1"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Contáctanos
                            </h4>
                            <p class="app-justificar2">
                                Llámanos o escríbenos, y tendrás respuesta en tiempo record.
                                <span class="pull-right glyphicon glyphicon-time"></span>
                                Tenemos a tú disposición: whatsapp, facebook,telefono celular, correo electrónico.
                            </p>
                        </div>
                    </div>

                    <div class="media app-media">
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-refresh app-glyphicon1"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Entendemos que tú eres la mayor prioridad
                            </h4>
                            <p class="app-justificar2">
                                Estaremos siempre dispuestos hasta que quedes satisfecho.
                                <span class="pull-right glyphicon glyphicon-thumbs-up"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">



            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="app-titulo"><span class="app-resaltar">¿Dónde nos encuentras?</span> </h1>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                        <div class="card">
                            <div class="card-height-indicator"></div>
                            <div class="card-content">
                                <div class="media app-media" style="margin-top: 3em;">
                                    <div class="pull-left">
                                        <span class="glyphicon  glyphicon glyphicon-map-marker app-glyphicon1"></span>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" style="padding: 1em;">
                                            Bottini A
                                        </h4>
                                        <p class="app-justificar2">
                                            <address>
                                                San Andresito, San Jose<br>
                                                Calle 9 #21-03<br>
                                                Bogóta<br>
                                                Colombia<br>
                                                <abbr>P:</abbr> +57 321 528 3546
                                            </address>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row-centered">
                                    <a target="_blank" class="btn btn-warning btn-lg" href="https://maps.google.com?saddr=Current+Location&daddr=4.604762,-74.089582">Ir a Bottini A</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="card">
                            <div class="card-height-indicator"></div>
                            <div class="card-content">
                                <div class="media app-media" style="margin-top: 3em;">
                                    <div class="pull-left">
                                        <span class="glyphicon  glyphicon glyphicon-map-marker app-glyphicon1"></span>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" style="padding: 1em;">
                                            Bottini B
                                        </h4>
                                        <p class="app-justificar2">
                                            <address>
                                                San Andresito, San Jose<br>
                                                Carrera 22 #8-92<br>
                                                Bogóta<br>
                                                Colombia<br>
                                                <abbr>P:</abbr> +57 321 528 3546
                                            </address>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row-centered">
                                    <a target="_blank" class="btn btn-warning btn-lg" href="https://maps.google.com?saddr=Current+Location&daddr=4.605167,-74.090185">Ir a Bottini B</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                        <div class="card">
                            <div class="card-height-indicator"></div>
                            <div class="card-content">

                                <div class="media app-media" style="margin-top: 3em;">
                                    <div class="pull-left">
                                        <span class="glyphicon  glyphicon glyphicon-map-marker app-glyphicon1"></span>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" style="padding: 1em;">
                                            Bottini C
                                        </h4>
                                        <p class="app-justificar2">
                                            <address>
                                                San Andresito, San Jose<br>
                                                Calle 9 #22-30<br>
                                                Bogóta<br>
                                                Colombia<br>
                                                <abbr>P:</abbr> +57 321 528 3546
                                            </address>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row-centered">
                                    <a target="_blank" class="btn btn-warning btn-lg" href="https://maps.google.com?saddr=Current+Location&daddr=4.605390,-74.090331">Ir a Bottini C</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 2em;">

                    <div class="card">
                        <div class="card-height-indicator"></div>
                        <div class="card-content">
                            <div id="map-container" class="col-md-8"></div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>


@Html.Hidden("RedirectTo", Url.Action("PurchaseSummary", "Purchasing"))
